html
  head
    title= title
  body
    for book in books
        h1= 'Title: ' + book.title
        h2= 'Author: ' + book.author
        h2= 'Genre: ' + book.genre
        a(href=book.links.self)= book.links.self
        fieldset 
            form(action="/api/books/", method="delete")
                input(type="text", name="_id", value=book._id)
                input(type="submit", value="Remove book")

    <div class="container">
    h1= 'Add new book'
    <fieldset>
        <form action="/api/books" method="post">
        <input name="title" type="text" class="ghost-input" placeholder="Title" required>
        <input name="author" type="text" class="ghost-input" placeholder="Author" required>
        <input name="genre" type="text" class="ghost-input" placeholder="Genre" required>
        <input type="submit" class="ghost-button" value="Add book">
        </form>
    </fieldset>
    </div>